<mat-toolbar color="primary">
  <a mat-button routerLink="/">
    <img class="navicon" src="assets/navicon.png" />
    <span class="title">QUIZZY</span>
  </a>

  <span class="example-spacer"></span>

  <a style="font-size: 1rem" mat-button routerLink="/">
    <button mat-icon-button class="example-icon login-icon">
      <mat-icon>home</mat-icon>
    </button>
    <span> Home </span>
  </a>

  <a mat-button style="font-size: 1rem" routerLink="/results">
    <button mat-icon-button class="example-icon">
      <mat-icon>library_books</mat-icon>
    </button>
    <span>Results</span>
  </a>

  <a style="font-size: 1rem" mat-button routerLink="/about">
    <button mat-icon-button class="example-icon login-icon">
      <mat-icon>groups</mat-icon>
    </button>
    <span> About </span>
  </a>
</mat-toolbar>
